/* image */
img {
    display: inline;
}

/* modal */
.modal-dialog {
    box-shadow: none;
}

ul {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
th td{
    padding: 5px 0px;
}

/* form */
.display_data p {
    font-size: 20px;
    margin-bottom: 0;
}

.display_data .form-group:last-child {
    margin-bottom: 0;
}

/* button delete */
.tabs-animated .delete .nav-link::before {
    background-color: #d92550; /*--danger*/
}

/* pagination */
nav[aria-label="Pagination Navigation"] span[aria-current=page] > span {
    background-color: #3f6ad8f0 !important;
    border: 1px solid #3f6ad8 !important;
    /*opacity: 0.9;*/
    color: #fff;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

nav[aria-label="Pagination Navigation"] a {
    text-decoration: none;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

nav[aria-label="Pagination Navigation"] a:first-child {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

nav[aria-label="Pagination Navigation"] a:last-child {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

nav[aria-label="Pagination Navigation"] a:hover {
    background-color: #e9ecef !important;
    color: #0056b3;
}

/* icon setting */
.ui-theme-settings .btn-open-options {
    bottom: 48px;
}


/*---------------------------------------------------- */
.project-tab {
    padding: 10%;
    margin-top: -8%;
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
